# Locale
d-i debian-installer/locale string en_US.UTF-8
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select hu

# Network configuration
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string rockylinux
d-i netcfg/get_domain string example.com
d-i netcfg/get_nameservers string 8.8.8.8
d-i netcfg/get_ipaddress string dhcp

# Timezone
d-i time/zone string Europe/Budapest
d-i clock-setup/ntp boolean true

# Partitioning
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/disk string /dev/sda

# Root password
d-i passwd/root-password-crypted password ${ROOT_PASSWORD}

# Packages
tasksel tasksel/first multiselect standard, server
d-i pkgsel/include string openssh-server vim nano curl wget

# Grub
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev  string default

# Finish
d-i finish-install/reboot_in_progress note
d-i debian-installer/exit/poweroff boolean true